:root {
  --primary-color: hsl(130, 85%, 32%);
  --black-color: hsl(0, 0%, 0%);
  --white-color: hsl(0, 0%, 100%);
  --danger-color: hsl(0, 66%, 45%);
  --footer-text: hsl(220, 47%, 82%);
  --transition: 0.3s ease-out;
  --border-color: hsla(0, 0%, 65%, 0.342);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.black {
  color: var(--black-color);
}
.primary-color {
  color: var(--primary-color);
}
.btn {
  background: var(--primary-color);
  border: 1px solid var(--white-color);
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  color: var(--white-color);
  font-size: 14px;
  letter-spacing: 1px;
  outline-style: none;
  font-weight: 500;
}
.btn:hover {
  background: var(--white-color);
  color: var(--primary-color);
  transition: var(--transition);
}
.active {
  color: var(--primary-color) !important;
}
.social-links {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.social-links > li {
  margin: 0 0.4rem;
}
.social-links > li > a {
  border: 1px solid var(--footer-text);
  color: var(--footer-text);
  padding: 0.4rem 0.6rem;
  border-radius: 50%;
  font-size: 14px;
  transition: var(--transition);
}
.social-links > li > a:hover {
  color: var(--white-color);
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.alice-carousel__prev-btn-wrapper,
.alice-carousel__next-btn-wrapper {
  position: absolute;
  top: -2rem;
  right: 0;
}
.alice-carousel__prev-btn-wrapper {
  right: 2rem;
}
.alice-carousel__prev-btn-item {
  position: relative;
  color: #fff;
  background: var(--primary-color);
  width: 17px;
  height: 17px;
  border-radius: 50%;
}
.alice-carousel__prev-btn-item > span {
  display: none;
}
.alice-carousel__prev-btn-item::after {
  content: "\f104";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  color: #fff;
  top: 4px;
  left: 9px;
}
.alice-carousel__next-btn-item {
  position: relative;
  color: #fff;
  background: var(--primary-color);
  width: 17px;
  height: 17px;
  border-radius: 50%;
}
.alice-carousel__next-btn-item > span {
  display: none;
}
.alice-carousel__next-btn-item::after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  color: #fff;
  top: 4px;
  left: 10px;
}

@media (max-width: 576px) {
  .container {
    width: 95%;
  }
}
